<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'base' %}">Главная</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'contacts' %}">Контакты</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Категории
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for category in categories %}
                                    <a class="dropdown-item" href="{{ category.url}}">{{ category.name }} ({{ category.count }})</a>
                                {% endfor %}
                            </div>
                        </li>
                        {% if not request.user.is_authenticated %}
                            <li>
                                <a class="nav-link text-dark" href="{% url 'login' %}">Авторизация</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" href="{% url 'registration' %}">Регистрация</a>
                            </li>
                        {% endif %}
                            <li class="nav-item">
                                {% if request.user.is_authenticated %}
                                <span class="navbar text" style="color:red; margin-left: 35px;">Добро пожаловать,
                                    <span class="badge badge-danger">
                                        <a style="text-decoration: none; font-size:18px; color: red" href="{% url 'profile' %}">{{ request.user.username }}</a>
                                        <a href="{% url 'logout' %}"style="font-size:18px">|Выйти</a>
                                    </span>
                                </span>
                                {% endif %}
                            </li>
                    </ul>
                    <form class="d-flex">
                        <a class="nav-link" href="{% url 'cart' %}" style="color: green">
                            <i class="bi-cart-fill me-1"></i>
                            <b>Корзина</b>
                            <span class="badge bg-success text-white ms-1 rounded-pill">{{ cart.products.count }}</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Бытовая техника</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                {% block content %}
                {% if messages %}
                   {% for message in messages %}
                      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags}}{% endif %} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                   {% endfor %}
                {% endif %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <style>
                                a {
                                    color: green; /* Цвет ссылок */
                                    text-decoration: none; /* Отменяем подчеркивание у ссылки */
                                }
                            </style>
                            <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
                            <div class="card-body" style="height: 280px">
                                <h5 class="text-center">
                                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                </h5>
                                <style>h5 {line-height: 1.5;}</style>
                                <h6 class="text-center">{{ product.price }} руб.</h6>
                                <a href=" {% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                                    <button style="position: absolute; bottom: 30px; width: 190px; text-align: center;" class="btn btn-danger wb-3">Добавить в корзину</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endblock content %}
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
