{% extends 'base.html' %}


{% block content %}
<h2 class="text-center mt-5 bm-5" style="color:green"><strong>Контакты </strong></h2><br>

    <div class="row">
        <div class="col-md-8">
            <h5> Республика Беларусь, 220036, г. Минск, пр-т. Партизанский, д. 48</h5>
            <h5> Факс: +375 (212) 11-11-11, 22-22-22</h5><br>
            <h4> Телефоны:</h4>
            <h5> Бухгалтерия: +375 (212) 44-44-44</h5>
            <h5> Торговый отдел: +375 (212) 33-33-33</h5>
            <h5> Отдел кадров: +375 (212) 66-66-66</h5>
            <h5> E-mail: post@bteh.by </h5>
        </div>
    </div>
{% endblock content %}

