<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Общий объем</td>
      <td>{{ product.overall_volume }}</td>
    </tr>
    <tr>
      <td>Полезный объем</td>
      <td>{{ product.useful_volume }}</td>
    </tr>
    <tr>
      <td>Тип управления</td>
      <td>{{ product.control }}</td>
    </tr>
    <tr>
      <td>Уровень шума</td>
      <td>{{ product.noise_level }}</td>
    </tr>
    <tr>
      <td>Количество полок</td>
      <td>{{ product.number_of_shelves }}</td>
    </tr>
    <tr>
      <td>Количество полок морозильной камеры</td>
      <td>{{ product.number_of_freezer_shelves }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>