<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Максимальный объем загрузки</td>
      <td>{{ product.max_loading }}</td>
    </tr>
    <tr>
      <td>Максимальная скорость отжима</td>
      <td>{{ product.max_spin_speed }}</td>
    </tr>
    <tr>
      <td>Количество программ стирки</td>
      <td>{{ product.number_of_programs }}</td>
    </tr>
    <tr>
      <td>Время самой короткой программы</td>
      <td>{{ product.shortest_program }}</td>
    </tr>
    <tr>
      <td>Расход электроэнергии за цикл</td>
      <td>{{ product.electricity_consumption_per_cycle }}</td>
    </tr>
    <tr>
      <td>Расход воды за цикл</td>
      <td>{{ product.water_consumption_per_cycle }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>
